:root {
  --Ssmall-radius: 2px;
  --small-radius: 4px;
  --regular-radius: 8px;
  --medium-radius: 16px;
  --large-radius: 32px;
  --circle-radius: 50px;

  --z-regular: 1;
  --z-tooltip: 10;
  --z-overlay: 50;
  --z-dialog: 80;
  --z-toast: 100;
}
